@import './partials/media-queries';

$media-tile-single-column: "only screen and (max-width: 765px)";

.content {
  padding: 15px 0 25px 0;
  position: relative;
  z-index: 0;
  background-color: white;
  box-shadow: 0 0 11px -2px;
}

.tile-flex {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  align-items: center;
  @media #{$media-tile-single-column} {
    flex-wrap: wrap;
    justify-content: center;
  }

  .tile:first-child {
    margin-top: 0;
  }
}

.tile {
  width: 400px;
  display: inline-block;
  box-sizing: border-box;
  flex: 1 1 auto;
  margin-bottom: 45px;
  @media #{$media-tile-single-column} {
    flex-grow: 1!important;
  }
}

.tile p, p.tile {
  margin-right: 20px;
  @media #{$media-tile-single-column} {
    margin-right: 0;
  }
}

p.tile {
  font-size: 30px;
  flex-grow: 0.2;
  line-height: 41px;
  @media #{$media-tile-single-column} {
    font-size: 21px;
    line-height: 32px;
  }
}

.tile strong {
  font-size: 38px;
  margin-right: 5px;
  @media #{$media-tile-single-column} {
    font-size: 28px;
  }
}

img.tile {
  max-width: none;
  width: 400px;
  box-sizing: border-box;
  padding: 15px;
  box-shadow: 0px 0px 5px 0px black;
  min-width: 0;
  flex-grow: 0.75;
  @media #{$small} {
    width: 100vw;
    min-width: auto;
    padding: 0;
  }
}

.free-estimate--title {
  background-color: red;
  display: inline-block;
  padding: 10px 20px;
}

.free-estimate--title, .free-estimate--body {
  background-color: #ff2929;
}

.free-estimate--form {
  padding: 20px 20px 20px 20px;
  @media #{$small} {
    padding-top: 0px;
  }
}

.free-estimate--form label {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  text-align: right;
  width: 100px;
  margin-top: 5px;
  @media #{$small} {
    text-align: left;
    margin-bottom: 5px;
  }
}

.free-estimate--form input, .free-estimate--form textarea {
  font-size: 18px;
  width: 275px;
  padding-left: 5px;
  box-sizing: border-box;
  @media #{$small} {
    width: 100%;
  }
}

.free-estimate--form input {
  margin-bottom: 10px;
  height: 25px;
}

.free-estimate--form textarea {
  height: 200px;
}
