.tiles {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  @media only screen and (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    .tile:first-child {
      margin-top: 0;
    }
    .tile:last-child {
      margin-bottom: 0;
    }
  }
}

.tile {
  display: flex;
  align-items: flex-start;
  flex: 1 1 auto;
  box-sizing: border-box;
  @media only screen and (max-width: 700px) {
    width: 100%!important;
    margin-bottom: 40px;
  }
}

.tile img {
  width: 100%;
  box-shadow: 0 0 5px;
  @media only screen and (max-width: 700px) {
    max-width: 370px;
  }
}

.tile.column {
  flex-direction: column;
}

.tile .image-container {
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0;
  width: 100%;
  @media only screen and (max-width: 700px) {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.tile p {
  max-width: 270px;
  padding: 0px 10px;
  margin: 0;
  justify-self: center;
  @media only screen and (max-width: 700px) {
    max-width: 370px;
  }
}

.tile.center {
  justify-content: center;
}

.tile strong {
  font-size: 23px;
}

.tile.width-4 {
  width: 33.3%;
}

.tile.width-5 {
  width: 41.6%;
}

.tile.width-2 {
  width: 16.6%;
}
