$extraSmall: "only screen and (max-width: 420px)";
$small: "only screen and (max-width: 500px)";
$medium: "only screen and (max-width: 800px)";
$large: "only screen and (max-width: 1000px)";

$short: "only screen and (max-height: 525px)";
$extraShort: "only screen and (max-height: 360px)";

$minExtraSmall: "only screen and (min-width: 420px)";
$minSmall: "only screen and (min-width: 500px)";
$minMedium: "only screen and (min-width: 800px)";
$minLarge: "only screen and (min-width: 1000px)";
