@import './header';
@import './content';
@import './partials/media-queries';

body {
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  background-color: black;
}

.width-limiter {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 25px;
}

p {
  font-size: 21px;
  line-height: 26px;
}

.p-0 {
  padding: 0!important;
}

.hidden {
  display: none!important;
}

.row {
  margin: 50px 0;
}

h2 {
  margin-top: 0px;
}
