@import './partials/media-queries';

.title-bar {
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 1px 3px -1px;
}

.title-bar-container {
  height: 100%;
}

a.title-bar--home, a.title-bar--gallery {
  color: black;
  text-decoration: none;
  font-size: 19px;
  line-height: 50px;
  &:hover {
    text-decoration: underline;
  }
}

a.title-bar--home {
  margin-right: 15px;
}

.title-bar {
  &--title {
    margin: 0;
    font-weight: normal;
    display: inline-block;
    font-size: 25px;
    line-height: 50px;
  }
}

.free-estimates-link {
  display: inline-block;
  height: 100%;
  float: right;
  line-height: 50px;
  font-size: 19px;
}

a.free-estimates-link {
  color: black;
  text-decoration: none;
}

.free-estimates-link {
  &--text {
    color: black;
    font-weight: bold;
    margin-right: 10px;
    // rotate animation?
    @media only screen and (max-width: 465px) {
      display: none;
    }
  }

  &--phone {
    color: blue;
  }
}
