doctype html
html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='styles/index.css' rel=`stylesheet`)
  title White Horse Masonry
body
header
  .header--bg
  .width-limiter
    .image-strips
      .image-strips--wide
        img(src="images/wide_1.jpg")
        img(src="images/wide_2.jpg")
        img(src="images/wide_3.jpg")
      .image-strips--skinny
        img(src="images/skinny_1.jpg")
        img(src="images/skinny_2.jpeg")
        img(src="images/skinny_3.jpg")
    .titles
      .titles--first
        h1 MASTERWORK
        h1 MASONRY
      .titles--second
        h1.titles--desktop WHITE HORSE
        h1.titles--mobile WHITE
        h1.titles--mobile HORSE
        h1 MASONRY
article.content
  .width-limiter.p-0
    .tiles
      .tile.width-3
        p #[strong Over 30 years...]#[br]of experience building, planning, and consulting to
          |  ensure a job well done.
      .tile.width-3
        p #[strong Expressive...]#[br]and aesthetic landscapes to complete your home, business, or public place.
      .tile.width-3
        p #[strong Reliability...]#[br]to recreate your vision with the knowledge
          |  necessary to integrate any material or design.
    .tiles
      .tile.width-3
        .image-container
          img(src=`images/016_orig.jpg`)
      .tile.width-3
        .image-container
          img(src=`images/img-1047_orig.jpg`)
      .tile.width-3
        .image-container
          img(src=`images/1615956_orig.jpg`)
        // p #[strong Over 30 years] of professional experience building with a
        //   |  variety of materials,
        //   |  and planning expressive landscapes for homes, businesses,
        //   |  and public places.
